<!doctype html>
<html lang="en" class="nojs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Utsov Inc.</title>
    <meta name="description" content="Utsov Registration">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
<!--    <link rel="SHORTCUT ICON" HREF="/favicon.png">-->
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />

    
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../css/utsov.css">
    
    
    <style>
      
      .navbar {
        background:rgba(221,72,20,0.7);   /* for latest browsers */
         /*background: #000;  fallback for older browsers */
      }
      .carousel-caption h1{
          background:rgba(0,0,0,0.3);   /* for latest browsers */
         /*background: #000;  fallback for older browsers */
      }
      .modal-footer{
          margin-top: -30px;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .modal-header{
          padding-top: 10px;
          padding-bottom: 10px;
      }
      
    </style>
</head>
<body ng-app="utsovPOS" style="background-color: #DD4814;">

  <div ng-controller="carouselCtrl">
  
    <!-- Fixed navbar -->
    <nav class="navbar transparent navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pos-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="img/logo_nav1.png" /></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="pos-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="icon-fa fa fa-user"></span>&nbsp;{{user.name}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="nav" data-ng-class="{disabled: user.type == 'ADMIN'}"><a ng-href="#Login" data-toggle="modal" data-target="#adminModal"><span class="icon-fa fa fa-sign-in"></span>&nbsp;Sign In</a></li>
                    <li class="nav" data-ng-class="{disabled: user.type !== 'ADMIN'}"><a data-ng-href="#Logout" ng-click="signOut()"><span class="icon-fa fa fa-sign-out"></span>&nbsp;Sign Out</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-fa fa fa-arrows"></span>&nbsp;Screen Size<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="{{activeFolder('1900')}}"><a ng-href="#1900" ng-click="selectFolder('1900')"><span class="icon-fa fa fa-desktop"></span>&nbsp;Desktop (1900)</a></li>
                    <li class="{{activeFolder('1600')}}"><a ng-href="#1600" ng-click="selectFolder('1600')"><span class="icon-fa fa fa-laptop"></span>&nbsp;Laptop (1600)</a></li>
                    <li class="{{activeFolder('1024')}}"><a ng-href="#1024" ng-click="selectFolder('1024')"><span class="icon-fa fa fa-tablet"></span>&nbsp;Tablet (1024)</a></li>
                </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <a class="btn btn-success" href="#Register" role="button" data-toggle="modal" data-target="#registerModal">
              <span class="icon-fa fa fa-users"></span>&nbsp;Visitor Registation
            </a>
          </form>
        </div><!-- /.navbar-collapse -->
          
      </div><!-- /.container-fluid -->
    </nav>
      
    <div class="container-fluid"  style="padding:0px; margin-top: -50px; height:auto; width: auto;">
      <!-- Carousel================================================== -->
        <div id="myCarousel" class="carousel slide" style="width: 100%; height:auto ; data-ride="carousel">
      
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" ng-repeat="img in images" class="{active : (img === 0)}" data-slide-to="{{img}}"></li>
        </ol>
        <div class="carousel-inner" style="width: 100%;">
          <div ng-class="{item: true, active : (img === 0)}" ng-repeat="img in images" style="overflow: hidden;">
            <div  style="background: url(img/{{currentFolder}}/{{img}}.jpg); background-size: cover;">
                <!--<img class="img-responsive" ng-src="img/{{currentFolder}}/{{img}}.jpg" alt="Slide numder {{img}}">-->
                <img src="" style="width:{{w}}px; height:{{h}}px; border: 0px;" border="0">
            </div>
            <div class="container">
              <div class="carousel-caption"><h1>{{ getMessage(img) }}</h1></div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
      </div>
      <!-- /.carousel -->
    </div>
    
  </div>
  
  
  <!--////////// Registration Modal Window ///////////////-->
  <div ng-controller="registerCtrl" class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modalHeaderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="clearData()">&times;</button>
                <h4 class="modal-title" id="modalHeaderLabel"><span class="icon-fa fa fa-users text-danger"></span> {{ title}}</h4>
         </div>
        
         <div class="modal-body" data-ng-show="success == 0">
            <form role="form" name="frmSearch" class="form-horizontal" novalidate data-ng-submit="SearchPatron()">
             <div class="form-group" style="background:rgba(253,255,191,0.7); padding: 10px;" data-ng-hide="foundPatron">
                <p>
                    *If you have registered with us before or given us your information in any form, please search for your email address, phone number, or name.  <span class="text-muted">(optional)</span>  
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" name="find" placeholder="Your full email or 10 digit phone number, or any part of your name" required data-ng-model="formData.find" data-ng-minlength="3" data-ng-maxlength="100">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" data-ng-disabled="frmSearch.$invalid"><span class="icon fa fa-search"></span> Find Me</button>
                    </div>    
                </div>
                <span class="text-danger small">* The information collected here is used by Utsov for the sole purpose of notifying you about our events and philathropic initiatives. We do not share this information with anyone.</span>
             </div>
             
            <div class="panel panel-success"  data-ng-show="showResults">
                <div class="panel-heading">
                    <span class="fa fa-lg fa-gears" data-ng-show="found == -2"></span>
                    <span class="fa fa-lg fa-exclamation-circle" data-ng-show="found ==-1"></span>
                    <span class="fa fa-lg fa-circle-o" data-ng-show="found == 0"></span>
                    <span class="fa fa-lg fa-check-circle-o" data-ng-show="found > 0"></span>
                    Search Results <button type="button" class="close" data-ng-click="clearData()">&times;</button>
                </div>
                <div class="panel-body" style="background:rgba(200,200,200,0.7);" data-ng-show="found == -2">
                    <h6>Please wait while we retrieve your information...</h6>
                </div>
                <div class="panel-body"  data-ng-show="found == 0">
                    <h5>Sorry. We did not recognize you. Please try searching with something different or register as a new patron.</h5>
                </div>
                <div class="col-sm-12 alert alert-danger" data-ng-show="found ==-1">
                    <h5>There was an error retriving your information. You could try again, or talk to one of our volunteers.</h5>
                </div>
                <div class="panel-body" data-ng-show="found > 0">
                    <p>We found {{found}} records matching your search. Please select the correct one to record your registration.</p>
                </div>
                <table class="table table-striped table-hover" data-ng-show="found > 0">
                    <tr>
                        <th>Name</th>
                        <th>Spouse/Partner</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th align="right">Select</th>
                    </tr>
                    <tr data-ng-repeat="patron in searchResults">
                        <td>{{massageResults("name",patron.name1)}}</td>
                        <td>{{massageResults("name",patron.name2)}}</td>
                        <td>{{massageResults("email",patron.email1)}}</td>
                        <td>{{massageResults("phone",patron.phone1)}}</td>
                        <td>{{patron.address1 + ", " + patron.city}}</td>
                        <td align="right"><a class="btn btn-sm btn-success" href="" role="button" data-ng-click="SelectPatron($index)"><span class="icon fa fa-check"></span> This is me</a></td>
                    </tr>
                </table>
                <table class="table">
                    <tr style="background:rgba(230,230,230,0.7);">
                        <td>
                            <h5>I cannot find myself. Let me enter my contact information.</h5> 
                        </td>
                        <td align="right">
                            <a class="btn btn-sm btn-default" href="" role="button" data-ng-click="clearData()"><span class="icon fa fa-times"></span> Close Search</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
            <form role="form" name="frmRegister" class="form-horizontal" novalidate data-ng-submit="SubmitRegistration()">
                <div class="well well-sm" data-ng-show="foundPatron && allReqFieldsPresent">
                    <p>** We were able to retrieve the following information from a previous registartion or from information you have provide to us in another form. </p>
                    <p>
                        <table class="table table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Primary</th>
                                <th>Secondary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 20%"><strong>Full Name</strong></td>
                                <td style="width: 40%">{{formData.name1}}</td>
                                <td style="width: 40%">{{formData.name2}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email Address</strong></td>
                                <td>{{formData.email1}}</td>
                                <td>{{formData.email2}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <td>{{formData.phone1}}</td>
                                <td>{{formData.phone2}}</td>
                            </tr>
                            <tr>
                                <td><strong>Address</strong></td>
                                <td colspan="2">
                                    {{formData.address1}};&nbsp;
                                    {{formData.address2}};&nbsp;
                                    {{formData.city}},&nbsp;{{formdata.state}},&nbsp;{{formdata.zip}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Last Visit</strong></td>
                                <td>{{ registrations[0].year }}</td>
                                <td>
                                    <span class="icon fa fa-circle" data-ng-show="checkNumber(registrations[0].donation) == 0"></span>
                                    <span class="icon fa fa-star-o" data-ng-show="checkNumber(registrations[0].donation) > 0 && checkNumber(registrations[0].donation) < 25"></span>
                                    <span class="icon fa fa-star-half-o" data-ng-show="checkNumber(registrations[0].donation) >= 25 && checkNumber(registrations[0].donation) < 50"></span>
                                    <span class="icon fa fa-star" data-ng-repeat="star in massageResults('donation', registrations[0].donation) track by $index"></span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </p>
                    <p>** If any of the above information is incorrect, please talk to one of our volunteers, or leave us a note with your correct contact information below. </p>
                    <p class="text-muted">* The information collected above is used by Utsov for notifications about events and our philathropic initiatives. We do not share this information.</p>
                </div>

                    <div class="form-group" data-ng-hide="showResults || (foundPatron && allReqFieldsPresent)">
                        <label class="col-sm-2" for="name1">Name</label>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.name1.$invalid }">
                            <input type="text" class="form-control" name="name1" placeholder="Your Full Name" required data-ng-model="formData.name1" data-ng-minlength="3" data-ng-maxlength="100" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && (!formData.updatePatron && isFieldValValid(formData.name1))">
                            <!--<span class="help-block" data-ng-show="frmRegister.name1.$error.required">Required</span>-->
                            <span class="help-block" data-ng-show="frmRegister.name1.$error.minlength">Too Short. Please enter at least 3 characters.</span>
                            <span class="help-block" data-ng-show="frmRegister.name1.$error.maxlength">Too long. Please limit to 100 characters.</span>
                        </div>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.name2.$invalid }">
                            <input type="text" class="form-control" name="name2" placeholder="Spouse/Partner Full Name" data-ng-model="formData.name2" data-ng-minlength="3" data-ng-maxlength="100" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron">
                            <span class="help-block" data-ng-show="frmRegister.name2.$error.minlength">Too Short. Please enter at least 3 characters.</span>
                            <span class="help-block" data-ng-show="frmRegister.name2.$error.maxlength">Too long. Please limit to 100 characters.</span>
                        </div>
                    </div>
                    <div class="form-group" data-ng-hide="showResults || (foundPatron && allReqFieldsPresent)">
                        <label class="col-sm-2" for="email1">Email</label>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.email1.$invalid }">
                        <input type="email" class="form-control" name="email1" placeholder="Your email address" required data-ng-model="formData.email1" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && (!formData.updatePatron && isValidEmail(formData.email1))">
                            <!--<span class="help-block" data-ng-show="frmRegister.email1.$error.required">Required</span>-->
                            <span class="help-block" data-ng-show="frmRegister.email1.$error.email">Please enter a valid email address.</span>
                        </div>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.email2.$invalid }">
                            <input type="email" class="form-control" name="email2" placeholder="Spouse/Partner email" data-ng-model="formData.email2" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isValidEmail(formData.email2)">
                            <span class="help-block" data-ng-show="frmRegister.email2.$error.email">Please enter a valid email address.</span>
                        </div>
                    </div>
                    <div class="form-group" data-ng-hide="showResults || (foundPatron && allReqFieldsPresent)">
                        <label class="col-sm-2" for="phone1">Phone Number</label>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.phone1.$invalid }">
                            <input type="text" class="form-control" name="phone1" placeholder="Primary Phone" required data-ng-model="formData.phone1" data-ng-pattern="phoneNumPattern" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && (!formData.updatePatron && isValidPhone(formData.phone1))">
                            <!--<span class="help-block" data-ng-show="frmRegister.phone1.$error.required">Required</span>-->
                            <span class="help-block" data-ng-show="frmRegister.phone1.$error.pattern">Please enter a valid 10 digit US phone number.</span>
                        </div>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.phone2.$invalid }">
                            <input type="text" class="form-control" name="phone2" placeholder="Other Phone" data-ng-model="formData.phone2" data-ng-pattern="phoneNumPattern" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isValidPhone(formData.phone2)">
                            <span class="help-block" data-ng-show="frmRegister.phone2.$error.pattern">Please enter a valid 10 digit US phone number.</span>
                        </div>
                    </div>
                    <div class="form-group" data-ng-hide="showResults || (foundPatron && allReqFieldsPresent)">
                        <label class="col-sm-2" for="address1">Mailing Address</label>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.address1.$invalid }">
                            <input type="text" class="form-control" name="address1" placeholder="Street address line 1" data-ng-model="formData.address1" data-ng-minlength="3" data-ng-maxlength="100" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isFieldValValid(formData.address1)">
                            <span class="help-block text-danger" data-ng-show="frmRegister.address1.$error.minlength">Too Short. Please enter at least 3 characters.</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.address1.$error.maxlength">Too long. Please limit to 100 characters.</span>
                        </div>
                        <div class="col-sm-5" data-ng-class="{ 'has-error': frmRegister.address2.$invalid }">
                            <input type="text" class="form-control" name="address2" placeholder="Street address line 2" data-ng-model="formData.address2" data-ng-minlength="3" data-ng-maxlength="100" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isFieldValValid(formData.address2)">
                            <span class="help-block text-danger" data-ng-show="frmRegister.address2.$error.minlength">Too Short. Please enter at least 3 characters.</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.address2.$error.maxlength">Too long. Please limit to 100 characters.</span>
                        </div>
                    </div>
                    <div class="form-group" data-ng-hide="showResults || (foundPatron && allReqFieldsPresent)">
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.city.$invalid }">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" placeholder="Mailing address City" data-ng-model="formData.city" data-ng-minlength="3" data-ng-maxlength="50" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isFieldValValid(formData.city)">
                            <span class="help-block text-danger" data-ng-show="frmRegister.city.$error.minlength">Too Short. Please enter at least 3 characters.</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.city.$error.maxlength">Too long. Please limit to 50 characters.</span>
                        </div>
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.state.$invalid }">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="state" placeholder="Mailing address State" data-ng-model="formData.state" data-ng-minlength="2" data-ng-maxlength="20" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isFieldValValid(formData.state)">
                            <span class="help-block text-danger" data-ng-show="frmRegister.state.$error.minlength">Too Short. Please enter at least 2 character state code.</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.state.$error.maxlength">Too long. Please limit to 20 characters.</span>
                        </div>
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.zip.$invalid }">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" name="zip" placeholder="Mailing address Zip" data-ng-model="formData.zip" data-ng-pattern="zipCodePattern" data-ng-disabled="((isAdminUser && patronLoaded) || !allReqFieldsPresent) && !formData.updatePatron && isValidZip(formData.zip)">
                            <span class="help-block text-danger" data-ng-show="frmRegister.zip.$error.pattern">Please enter a valid US ZIP code.</span>
                        </div>
                    </div>
                    <hr/>
                     <div class="form-group">
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.regyear.$invalid }">
                            <label for="city">Year</label>
                            <input type="number" class="form-control" name="regyear" placeholder="{{ currentYear }}" data-ng-model="formData.regyear" min="2012" max="{{ currentYear }}" required data-ng-disabled="!isAdminUser">
                            <span class="help-block text-danger" data-ng-show="frmRegister.regyear.$error.min">Invalid year. Utsov started in 2012</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.regyear.$error.max">Invalid year. Beyond this year.</span>
                        </div>
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.regcount.$invalid }">
                            <label for="state">Head Count</label>
                            <input type="number" class="form-control" name="regcount" placeholder="Count of people in your party" data-ng-model="formData.regcount" min="1" max="10" required>
                            <span class="help-block text-danger" data-ng-show="frmRegister.regcount.$error.min">Invalid count. Count yourself as 1.</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.regcount.$error.max">Invalid count. If you have more than 10 people, please ask a few others to register.</span>
                        </div>
                        <div class="col-sm-4" data-ng-class="{ 'has-error': frmRegister.donamount.$invalid }">
                            <label for="donamount" data-ng-hide="isAdminUser">Your donations make this event possible</label>
                            <label for="donamount" data-ng-show="isAdminUser">Donation Amount</label>
                            <p class="lead" data-ng-hide="isAdminUser">Please Remember to Donate</p>
                            <input type="number" step="0.01" class="form-control" name="donamount" placeholder="Your donation amount for this year" data-ng-model="formData.donamount" min="0" max="1000000" data-ng-show="isAdminUser">
                            <span class="help-block text-danger" data-ng-show="frmRegister.donamount.$error.min">Invalid amount.Please enter at least 0.00</span>
                            <span class="help-block text-danger" data-ng-show="frmRegister.donamount.$error.max">Invalid amount.That is too much!!!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" data-ng-class="{ 'has-error': frmRegister.regmsg.$invalid }" data-ng-hide="isAdminUser">
                            <label for="regmsg">Corrections to your information above or any note for us.</label>
                            <textarea class="form-control" rows="2" name="regmsg" data-ng-model="formData.regmsg" data-ng-maxlength="300"></textarea>
                            <span class="help-block text-danger" data-ng-show="frmRegister.regmsg.$error.maxlength">Too long. Please limit to 300 characters.</span>
                        </div>
                        <div class="col-sm-7 col-xs-12" data-ng-class="{ 'has-error': frmRegister.regmsg1.$invalid }" data-ng-show="isAdminUser">
                            <label for="regmsg1">User Message</label>
                            <textarea class="form-control" rows="3" name="regmsg1" data-ng-model="formData.regmsg" data-ng-maxlength="300"></textarea>
                            <span class="help-block text-danger" data-ng-show="frmRegister.regmsg1.$error.maxlength">Too long. Please limit to 300 characters.</span>
                        </div>
                        <div class="col-sm-5 col-xs-12" data-ng-show="isAdminUser">
                            <div style="height:100%;overflow-y: scroll;">
                                 <table class="table table-condensed table-striped">
                                     <tr>
                                         <td style="text-align:middle">Year</td>
                                         <td style="text-align:middle">Updated</td>
                                         <td style="text-align:right">Amount</td>
                                         <td style="text-align:middle">Select</td>
                                     </tr>
                                     <tr data-ng-repeat="regrecord in registrations">
                                         <td style="text-align:middle">{{regrecord.year}}</td>
                                         <td style="text-align:middle">{{massageResults("date", regrecord.date)}}</td>
                                         <td style="text-align:right">{{regrecord.donation}}</td>
                                         <td style="text-align:middle">
                                             <a class="btn btn-sm btn-success" href="" role="button" data-ng-click="SelectRegistration($index)"><span class="icon fa fa-pencil-square-o"></span></a>
                                         </td>
                                     </tr>
                                 </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" data-ng-show="success !== 0">
                    <h2 class="text-danger" data-ng-show="success == 2"><span class="fa fa-lg fa-times"></span> Registration Process Error </h2>
                    <h2 class="text-success" data-ng-show="success == 1"><span class="fa fa-lg fa-check"></span> Registration Process Complete </h2>
                </div>
                <div class="modal-footer" data-ng-hide="success !== 0">
                    <div class="form-group">
                        <div class="col-sm-9 text-danger" data-ng-hide="isAdminUser && formData.id">
                            <p data-ng-show="frmRegister.$invalid" class="pull-left"><span class="fa fa fa-exclamation-circle"></span> Save is disabled until all required fields are filled in and all data errors (red) are corrected.</p>
                        </div>

                        <div class="col-sm-9" data-ng-show="isAdminUser && formData.id">
                            <label><input type="checkbox" id="updatePatron" data-ng-model="formData.updatePatron" value="Y"> Update Patron</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input type="checkbox" id="updateRegistration" data-ng-model="formData.updateRegistration" value="Y"> Update Registration</label>
                        </div>

                        <div class="col-sm-2 col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="frmRegister.$invalid">Register Me</button>
                        </div>
                        <div class="col-sm-1 col-xs-12">
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal" data-ng-click="clearData()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" data-ng-show="success == 1">
                    <div class="col-sm-9 col-xs-12 alert alert-success">
                        <p class="pull-left"><span class="fa fa-lg fa-check-circle-o"></span> Your information was saved successfully. Thanks you for registering.</p>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        &nbsp;
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" data-ng-click="clearData()">Close</button>
                    </div>
                </div>
                <div class="modal-footer" data-ng-show="success == 2">
                    <div class="col-sm-9 col-xs-12 alert alert-danger">
                        <p class="pull-left"><span class="fa fa-lg fa-exclamation-circle"></span> There was an error saving your information. You could try again, or talk to one of our volunteers.</p>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <button type="button" class="btn btn-primary pull-right" data-ng-click="clearData()">Try Again</button>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" data-ng-click="clearData()">Cancel</button>
                    </div>
                </div>
            </form>
      </div>
    </div>
  </div>
 
 <!--////////// Login Modal Window ///////////////-->
  <div ng-controller="loginCntrl" class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="modalHeaderLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="clearData()">&times;</button>
            <h4 class="modal-title" id="modalHeaderLabel"><span class="icon-fa fa fa-user text-danger"></span> Admin Login</h4>
        </div>
        <form role="form" name="frmLogin" class="form-horizontal" novalidate data-ng-submit="LoginUser()">
            <div class="modal-body" style="margin: 30px;">
                <div class="form-group" data-ng-class="{ 'has-error': frmLogin.username.$invalid }">
                    <div class="input-group">
                        <div class="input-group-addon">Login Id</div>
                        <input type="text" class="form-control" name="username" placeholder="Your Login ID" required data-ng-model="formData.username" data-ng-minlength="5" data-ng-maxlength="25">
                    </div>
                    <span class="help-block text-danger" data-ng-show="frmLogin.username.$error.minlength">Too Short. Please enter at least 5 characters.</span>
                    <span class="help-block text-danger" data-ng-show="frmLogin.username.$error.maxlength">Too long. Please limit to 25 characters.</span>
                </div>
                <div class="form-group" data-ng-class="{ 'has-error': frmLogin.userpwd.$invalid }">
                    <div class="input-group">
                        <div class="input-group-addon">Password</div>
                        <input type="password" class="form-control" name="userpwd" placeholder="Your Login Password" required data-ng-model="formData.userpwd" data-ng-minlength="10" data-ng-maxlength="25">
                    </div>
                    <span class="help-block text-danger" data-ng-show="frmLogin.userpwd.$error.minlength">Too Short. Please enter at least 10 characters.</span>
                    <span class="help-block text-danger" data-ng-show="frmLogin.userpwd.$error.maxlength">Too long. Please limit to 25 characters.</span>
                </div>
            </div> 
             <div class="modal-footer" data-ng-show="success != 1">
                <div class="form-group">
                    <div class="col-sm-8 text-danger">
                        <p data-ng-show="frmLogin.$invalid" class="pull-left"><span class="fa fa fa-exclamation-circle"></span> Please fill in your user name and password above</p>
                        <p class="text-danger" data-ng-show="success == 2"><span class="fa fa fa-times-circle"> Unable to verify user name and/or password</p>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="frmLogin.$invalid">Sign In</button>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
                
            <div class="modal-footer" data-ng-show="success == 1">
                <div class="col-sm-8 col-xs-12 alert alert-success">
                    <p class="pull-left"><span class="fa fa-lg fa-check-circle-o"></span>User Name and Password successfully verified.</p>
                </div>
                <div class="col-sm-2 hidden-xs">
                    &nbsp;
                </div>
                <div class="col-sm-2 col-xs-12">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form> 
      </div>
    </div>
  </div>
 
 
<!--////// Adding scripts to bottom of document //////-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="../js/plugins.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="js/pos.js"></script>

</body>
</html>
