    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalHeaderLabel"><span class="icon-fa fa fa-camera-retro text-danger"></span> {{ title}} <small class="text-danger">Registration closed for 2015.</small></h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <p class="lead">Please Note: Deadline for submission to essay contests was 9th of October, 2015. Registration is now closed for 2015.<br/>All contests will be judged by independent judges.**</p>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <th class="col-sm-2">
                            Age Group
                        </th>
                        <th class="col-sm-7">
                            Essay Topic
                        </th>
                        <th class="col-sm-3">
                            Size Specifications
                        </th>
                    </tr>
                    <tr>
                        <td>Group I: 6 to 8 years</td>
                        <td>What is your favorite festival that you celebrate with your family? Why is it your favorite festival? Explain with examples.</td>
                        <td>Times New Roman 12pt, single spaced limited to 2 pages</td>
                    </tr>
                    <tr>
                        <td>Group II: 9 to 12 years</td>
                        <td>All of you know Ma Durga has 10 hands. She uses her hands to hold different and use them in different ways. Now imagine one fine day you get up in the morning and find that you have 10 hands! What are you going to do with the hands? After your experience would you like to have these 10 hands or rather have only 2 hands? Be as creative as you can. </td>
                        <td>Times New Roman 12pt, single spaced limited to 3 pages</td>
                    </tr>
                    <tr>
                        <td>Group III: 13 to 17 years</td>
                        <td>You must have heard the story of Durga Puja, how Maa Durga with her power helped good win over the evil. Now imagine that you get these special powers for one day! You wake up and find that you have been blessed with special powers to do anything you like and whatever you want. What do you think you are going to do?</td>
                        <td>Times New Roman 12pt, single spaced limited to 5 pages</td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                </table>
            </div>
            <div class="row">
                <p class="text-danger">** Judges decisions are final</p>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
