<h1>{{title}}</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Login Id</th>
            <th>Password</th>
            <th>Secret Question</th>
            <th>Secret Answer</th>
            <th>Email</th>
            <th>Utsov Access</th>
            <th>Sponsor Access</th>
            <th>Capture Access</th>
            <th>Utsov Filter</th>
            <th>Sponsor Filter</th>
            <th>Capture Filter</th>
        </tr>
        <tr data-ng-repeat="user in resultset">
            <td>{{user.name}}</td>
            <td>{{user.login}}</td>
            <td>********</td>
            <td>-TBD-</td>
            <td>-TBD-</td>
            <td>-TBD-</td>
            <td>{{user.utsov_access}}</td>
            <td>{{user.sponsor_access}}</td>
            <td>{{user.capture_access}}</td>
            <td>{{contact.utsov_filter}}</td>
            <td>{{contact.sponsor_filter}}</td>
            <td>{{contact.capture_filter}}</td>
        </tr>
    </table>
</div>
<div>
    <span class="text-success">{{ msgs}}</span><span class="text-danger">{{ errors}}</span>
</div>
